<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.teste_plugin">

    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND"/>
</manifest>
